<!DOCTYPE html>
<html>
	<head>
		<title>Enron</title>
		<style>
			body{
				text-align:center
			}
			th,td {
				border: 1px solid black;
				padding:16px
			}
			table{
   				overflow-y:scroll;
  				height:250px;
   				display:block;
			}
			form{
				padding:16px
			}
			.float{
				float: left;
			}
		</style>
	</head>
	<body>
		{% if user == "admin" %}
			<p>Welcome, admin.</p>
		{% else %}
			<p>Welcome, user</p>
		{% endif %}
		<div style="background:grey">
			<table style="padding:16px">
				<tr>
					<th>Product code</th>
					<th>Product</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
				{% for entry in db %}
					<tr>
						{% for data in entry %}
							<td>{{data}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="display:inline-block">
			{% if user == "admin" %}
				<form class="float" action="http://127.0.0.1:5000/insert">
					<input type="submit" value="Insert">
				</form>
				<form class="float" action="http://127.0.0.1:5000/delete">
					<input type="submit" value="Delete">
				</form>
				<form action="http://127.0.0.1:5000/update">
					<input class="float" type="submit" value="Update">
				</form>
			{% endif %}
		</div>
		</br>
		<form method="GET" action="http://127.0.0.1:5000/login">
			<div>
				<input type="submit" value="Log Out">
			</div>
		</form>
	</body>
</html>
